/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        caps_lock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <12 23>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            //  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
            //  | CAPSLOCK      | 1             | 2             | 3             | 4             | 5             |   | 6             | 7             | 8             | 9             | 0             | DEL           |
            //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
            //  | BTCLR         | BLUETOOTH 1   | BLUETOOTH 2   | BLUETOOTH 3   | BLUETOOTH 4   | BLUETOOTH 5   |   | LEFT          | DOWN          | UP            | RIGHT         | PAGE UP       | HOME          |
            //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
            //  | SHIFT         | UNDO          | CUT           | COPY          | PASTE         |               |   |               |               |               |               | PAGE DOWN     | END           |
            //  ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
            //                                                  | ALT           |               | SPACE         |   | ENTER         |               | GUI           |
            //                                                  ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯

            bindings = <
&kp ESCAPE    &kp Q  &kp W             &kp E           &kp R               &kp T        &kp Y      &kp U                &kp I            &kp O              &kp P     &kp PRINTSCREEN
&kp TAB       &kp A  &mt LEFT_SHIFT S  &mt LEFT_ALT D  &mt LEFT_CONTROL F  &kp G        &kp H      &mt RIGHT_CONTROL J  &mt RIGHT_ALT K  &mt RIGHT_SHIFT L  &kp SEMI  &kp SQT
&kp LEFT_GUI  &kp Z  &kp X             &kp C           &kp V               &kp B        &kp N      &kp M                &kp COMMA        &kp DOT            &kp FSLH  &kp BSLH
                                       &kp DELETE      &mo 1               &kp SPACE    &kp ENTER  &mo 2                &kp BACKSPACE
            >;
        };

        lower_layer {
            //  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
            //  | F1            | F2            | F3            | F4            | F5            | F6            |   | F7            | F8            | F9            | F10           | F11           | F12           |
            //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
            //  | CTRL          |               |               |               |               |               |   | -             | =             | [             | ]             | "|"           | `             |
            //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
            //  | SHIFT         |               |               |               |               |               |   | _             | +             | {             | }             | \             | ~             |
            //  ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
            //                                                  | ALT           |               | SPACE         |   | ENTER         |               | GUI           |
            //                                                  ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯

            bindings = <
&trans  &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans       &kp PLUS   &kp MINUS        &kp ASTERISK   &kp SLASH  &trans         &trans
&trans  &trans        &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans       &kp LEFT   &kp DOWN         &kp UP         &kp RIGHT  &kp PAGE_UP    &kp HOME
&trans  &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans       &kp EQUAL  &trans           &trans         &trans     &kp PAGE_DOWN  &kp END
                                    &kp DELETE    &trans        &kp SPACE    &kp ENTER  &kp RIGHT_SHIFT  &kp BACKSPACE
            >;
        };

        raise_layer {
            bindings = <
&kp F11       &kp F1           &kp F2         &kp F3          &kp F4          &kp F5              &kp F6             &kp F7    &kp F8         &kp F9                &kp F10                &kp F12
&kp GRAVE     &kp EXCLAMATION  &kp AT_SIGN    &kp HASH        &kp DOLLAR      &kp PERCENT         &trans             &kp LBKT  &kp RBKT       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&kp LEFT_ALT  &kp CARET        &kp AMPERSAND  &kp UNDERSCORE  &kp TILDE       &kp LEFT_CONTROL    &kp RIGHT_CONTROL  &kp LBRC  &kp RBRC       &kp LESS_THAN         &kp GREATER_THAN       &kp RIGHT_ALT
                                              &kp DELETE      &kp LEFT_SHIFT  &kp SPACE           &kp ENTER          &trans    &kp BACKSPACE
            >;
        };

        middle_layer {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1       &bt BT_SEL 2     &bt BT_SEL 3          &bt BT_SEL 4          &bt BT_CLR_ALL    &trans  &trans  &trans  &trans  &trans  &to 0
&out OUT_BLE  &out OUT_USB       &trans           &trans                &trans                &trans            &trans  &trans  &trans  &trans  &trans  &trans
&kp C_MUTE    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans            &trans  &trans  &trans  &trans  &trans  &to 4
                                                  &trans                &mo 1                 &trans            &trans  &mo 2   &trans
            >;
        };

        game_layer {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y      &kp U  &kp I   &kp O   &kp P   &trans
&kp LEFT_SHIFT    &kp A  &kp S  &kp D         &kp F  &kp G        &kp H      &kp J  &kp K   &kp L   &trans  &trans
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N      &kp M  &trans  &trans  &trans  &trans
                                &kp LEFT_ALT  &mo 1  &kp SPACE    &kp ENTER  &mo 2  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        middle_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
